.navbar-brand {
	color: #ffffff;

	background-color: #4aaaac;

	padding: 20px;
}

.navbar-brand:hover {
	color: #dddddd;
}

.navbar {
	padding: 0px;

	border-bottom: solid 1px #cccccc;
}

.nav-link {
	color: #4aaaac;
}

.nav-link:hover {
	background-color: #4aaaac;
	color: #ffffff;
}