/* elements */
body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;

	background-color: #eeeeee;
}

section, aside{
	background-color: #ffffff;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaac;
	border-bottom: 5px #cccccc solid;
	padding: 10px 0;
	font-size: 30px;
	margin-bottom: 20px;
}

/* navbar */
.navbar {
	border-bottom: 1px #ccc solid;
	background-color: #ffffff;
	padding: 0;

	margin-bottom: 30px;
}

.nav-container {
	padding: 0;
}

.navbar-brand {
	background-color: #4aaaac;
	color: #ffffff;
	padding: 15px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;

	transition: all ease .25s;
}


.navbar-nav {
	flex-direction: row;
}

.navbar-nav .nav-link{
	margin: 0 10px;
	color: #777777;
}

.nav-link:hover, .navbar-brand:hover{
	color: #4aaaac;
	background-color: #ffffff;
}

/* connect with me */
aside {
	height: 150px;
}

aside img {
	text-align: center;
	width: 50px;
	border-radius: 50%;
}

.aside-row {
	text-align: center;
	margin: 0 10px;
	margin-top: 20px;
}